
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
    
}
header {
    width: 100vw;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    position: fixed;
    top: 0px;
}
nav {
    width: 90%;
    margin: 0px auto;
    text-align: right;
}
nav ul {
    margin-top: 25px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0px 10px;
    letter-spacing: 1px;
}
nav ul li a:hover {
    text-decoration: underline;
    color:lightblue
}
h3 {
    margin: 200px 0px 20px 0px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.album {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.profile {
    background-color:#ffffff;
    width: 30%;
    height: 420px;
    margin: 10px;
    border-radius: 5px;
}
.profile:hover {
    opacity: 0.75;
}
img {
    height: 180px;
    width: 200px;
    border-radius: 50%;
    margin:20px 0px 0px 80px;
}
.name {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    
}
#button1 {
    width: 100px;
    height: 50px;
    margin: 100px 0px 0px 60px;
}
#button2 {
    width: 100px;
    height: 50px;
    margin: 100px 0px 0px 0px;
}