
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
    
}
header {
    width: 100vw;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    position: fixed;
    top: 0px;
}
nav {
    width: 90%;
    margin: 0px auto;
    text-align: right;
}
nav ul {
    margin-top: 25px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0px 10px;
    letter-spacing: 1px;
}
nav ul li a:hover {
    text-decoration: underline;
    color:lightblue
}
h3 {
    margin: 200px 0px 20px 0px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;

}
.album {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

}
.profile {
    background-color:#ffffff;
    width: 30%;
    height: 450px;
    margin: 10px;
    border-radius: 5px;
    flex: 1 1 20% ;
}
.profile:hover {
    opacity: 0.75;
}
img {
    height: 180px;
    width: 200px;
    border-radius: 50%;
    margin: 20px 0px 0px 20px;
}
.name {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 25px;
    
}
.buttons {
    text-align: center;
}
.btn1, .btn2 {
    padding: 10px;
    display: inline-block;
    margin-top: 5%;
}

@media only screen and (max-width:600px) {
    nav {
        width: 90%;
        margin: 0px auto;
        text-align: right;
    }
    nav ul {
        width: 99%;
        margin-top: 30px;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul li a {
        font-size: 1.2em;
        margin: 0px 4px;
        letter-spacing: 0px;
    }
    
    .album {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .profile {
        background-color:#ffffff;
        min-width: 95%;
        height: 500px;
        border-radius: 5px;
    }
    img {
        height: 190px;
        min-width:20%;
        border-radius: 50%;
        margin: 8% 0 0 19%;
    }
    
    .btn1, .btn2 {
        margin-top: 10%;
        margin-bottom: 5%;
    }
    
}